[submodule "PrusaSlicer"]
	path = PrusaSlicer
	url = https://github.com/prusa3d/PrusaSlicer.git

[submodule "Fast-STL-Viewer"]
	path = Fast-STL-Viewer
	url = https://github.com/Fast-STL-Viewer/.github.git
